#header {
    position: relative;
    text-align: center;
    padding: 30px;
}

header {
    display: inline-block;
    padding: 10px;
    background: white;
    box-shadow: white 0px 0px 10px 10px;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
}

#bgImage {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(20px);

  /* Full height */
  position: absolute;
  height: 100%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
    position: relative;
    text-align: center;
}

#imageContainer {
    position: relative;
    display: inline-block;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style: dashed;
    border-radius: 10px;
}

#leftArrow {
    left: 40px;
}

#rightArrow {
    right: 40px;
}

.arrowImg {
    position: absolute;
    top: 40%;
}

#footer {
    position: relative;
    padding: 40px;
    text-align: center;
}

footer {
    display: inline-block;
    padding: 10px;
    background: white;
    box-shadow: white 0px 0px 10px 10px;
    border-radius: 20px;
}